<div
  class="relative w-full h-full flex items-center justify-center topographic overflow-hidden"
>
  <img
    class="absolute w-1/2 max-w-2xl min-w-72 top-[-20%] sm:top-[-40%] right-[-10%] animate-[spin_40s_linear_infinite]"
    src="../../assets/images/blueprint-shape-1.svg"
  />

  <img
    class="absolute w-1/2 max-w-2xl min-w-72 bottom-[-20%] sm:bottom-[-40%] left-[-20%] animate-[spin_60s_linear_infinite]"
    src="../../assets/images/blueprint-shape-2.svg"
  />

  <div class="font-mona text-slate-50 text-center">
    <h1 class="text-3xl sm:text-8xl font-bold p-4">Under construction!</h1>
    <p>
      Hello - I'm currently working on a cool simulation involving
      <a
        class="link"
        href="https://en.wikipedia.org/wiki/Lichtenberg_figure"
        target="_blank"
        >Lichtenberg figures</a
      >!
    </p>
    <p><i>But it's not ready just yet.</i></p>
    <p class="mt-3">
      In the meantime, why not check out
      <a class="link" [href]="videoUrl">{{ videoDesc }}</a
      >?
    </p>
  </div>
</div>
